@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
body,
html {
  height: 100%;
  margin: 0px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600 !important;
}
*,
:focus,
:hover {
  outline: none;
  font-family: "Open Sans", sans-serif;
}
.song-wrap{
  width: 100%;
  margin: auto;
  background: rgb(153,34,195) !important;
  background: linear-gradient(0deg, rgba(153,34,195,1) 0%, rgba(161,253,255,0.9556197478991597) 100%) !important;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  min-height: 70vh;
}

.img-container{
  border:1px solid rgb(255,255,255,0.75) !important;
  width: 250px;
  height:250px;
  border-radius: 50%;
  margin: auto !important;
  text-align: center;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
}

.img-size{
  width: 250px;
  height:250px;
  border-radius: 50%;
  opacity: 0.65;
}

/* Animation */
@media (prefers-reduced-motion: no-preference) {
  .animate-img{
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Music Player styles */
.rhap_container{
  background: transparent !important;
  margin-top: 50px;
  padding-bottom: 50px !important;
}


.rhap_container,.rhap_time,.rhap_container,.rhap_volume-button,.rhap_repeat-button,.rhap_main-controls-button{
  /* color: rgb(13, 36, 241) !important; */
  color: rgb(255, 255, 255,0.95) !important;
  border: none !important;
  box-shadow: none !important;
  box-shadow: none !important;
}
.rhap_progress-indicator{
background: linear-gradient(0deg, rgba(153,34,195,1) 0%, rgba(161,253,255,0.9556197478991597) 100%) !important;
}
.rhap_volume-indicator{
  background: rgba(161,253,255,0.9) !important;
  z-index: 9;
}
.rhap_download-progress{
  background-color:rgb(255,255,255,0.25) !important;
}

.rhap_progress-filled{
  background-color: rgb(153,34,195) !important;
}
.title-section{
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 35px;
  color: rgb(153,34,195,1);
  -webkit-text-fill-color:  rgba(255,255,255,0.9); /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(153,34,195,1);
}
.MovieName{
margin-top: 25px;
margin-left: 25px;
}
.Total-songs{
  margin-top: 25px;
  margin-right: 25px;
}



